* {
    margin: 0;
    padding: 0;
    /* font-family: 'Courier New', Courier, monospace; */
}

.wide {
    width: 1330px;
    margin: 0 auto;
}

.header {
    height: 40px;
    background-color: rgb(255, 255, 255);
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    position: fixed;
    width: 100%;
    top: 0;

 z-index: 5; 
    /* transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;  */
    transition: height 0.4s ease, padding 0.4s ease, font-size 0.4s ease, background-color 0.4s ease;
}

.header.scrolled {
    height: 20px; /* Điều chỉnh kích thước mới của header khi cuộn xuống */
    padding: 20px 0; /* Điều chỉnh padding để giữ nội dung ở trung tâm */
    font-size: 14px; /* Điều chỉnh kích thước font khi cuộn xuống */
    background-color: rgba(255, 255, 255, 0.9); /* Màu nền mới khi cuộn xuống */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Bóng đổ mới khi cuộn xuống */
  }

.content {
    margin-top: 160px;
}
.header .nameWeb {
    margin-left: 0px;
}

.header .nameWeb a {
    text-decoration: none;
    color: black;
}

.header .nameWeb a span {
    color: #fff;
    background-color: black;
    height: 40px;
    font-size: 25px;
    padding: 10px 19px;
    border-radius: 10px;
    margin-right: 10px;
}

.header .linkSocial {
    margin-right: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    width: 100px;
}

.profile {
    display: flex;
    /* flex-direction: column; */
}

.image img {

    width: 520px;
}

.summary {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 20px;
}

.summary h1 {
    margin-top: 50px;
    font-size: 50px;
    width: 501px;
}

.experience {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    padding-right: 55px;
}

.experience span {
    color:
        #f26464;
    font-size: 38px;
}

.experience p {
    font-size: 18px;
}

.aboutMe {
    margin-top: 40px;
    position: relative;
}

.underlined {
    width: 100px;
    height: 2px;
    background-color:
        #f26464;
    position: relative;
    top: 24px;
}

.aboutMe p {
    margin-top: 30px;
    font-size: 29px;
    font-weight: 100;
    opacity: 0.6;
}

.containerBtn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.btnDow {
    display: inline-block;
    border: 2px solid #f26464;
    padding: 12px 30px;
    border-radius: 40px;
    color:
        #f26464;
    transition: background-color 0.3s ease-in-out;
}

.btnDow:hover {
    background-color:
        #f26464;
    color: #fff;
}

.core {
    position: relative;
    width: 50%;
}

.underlinedCore {
    width: 127px;
    height: 2px;
    background-color:
        #f26464;
    position: relative;
    top: 5px;
}

.skill {
    display: flex;
    margin-top: 120px;
}

.allBtn {
    margin-top: 30px;
    width: 85%;
}

.btnItem {
    border: 0.1px solid black;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 30px;
    margin: 5px 5px;
}

.workExperience {
    margin-top: 100px;
}

.underlinedWork {
    width: 187px;
    height: 2px;
    background-color:
        #f26464;
    position: relative;
    top: 5px;
}

.workExperienceIem {
    margin-top: 30px;
}

.workExperienceIem {
    display: flex;
    justify-content: space-between;
    width: 92%;
}

.workExperienceIem1 {
    width: 45%;
}

.workExperienceIem1 ul {
    margin-left: 20px;
    opacity: 0.7;
    margin-top: 20px;
}

.workExperienceIem1 li {
    margin: 10px;
}

.workExperienceIem1 p {
    margin-top: 35px;
    opacity: 0.7;
}

.workExperienceIem1 span {
    font-weight: 800;
}

.workExperienceIem1 h3 {
    margin: 20px 0;
    font-weight: 100;
}

.underlinedWorks {
    width: 150px;
    height: 2px;
    background-color:
        #f26464;
    position: relative;
    top: 5px;
}

.containerWorks {
    margin-top: 30px
}

.workItem {
    margin: 20px;
    width: 1200px;
    height: 450px;
    background-color:
        #f6f8fa;
    display: flex;
}

.infoWork {
    width: 500px;
    margin-right: 150px;
    margin-top: 50px;
    margin-left: 50px;
}

.infoWork h4 {
    font-size: 28px;
}

.infoWork p {
    font-size: 20px;
    opacity: 0.6;
    margin: 30px 0;
}

.imageWork img {
    width: 400px;
    margin-top: 30px;
    margin-right: 30px;
}

.footer {
    color: #fff;
    width: 100%;
    height: 520px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer span {
    margin-top: 100px;
    opacity: 0.7;
}

.footer h4 {
    font-size: 50px;
    margin-top: 30px;
}

.footer p {
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 30px;
}